.admin-dashboard {

    display: flex;
    margin: 0 auto;
    max-width: 1040px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 25px;
    @media (max-width:1023px) {
        justify-content: space-around;
    }


    &__card {
        background: #f6f6f8;
        box-shadow: 0 1px 3px rgba(20, 35, 85, 0.17);
        width: 410px;
        height: 250px;
        padding: 30px 30px;
        margin-bottom: 60px;
        text-decoration: none;
        transition: background-color 0.3s ease;

        @media (max-width:1023px) {
            width: 290px;
        }
        @media (max-width:767px) {
            width: 100%;
        }
        @media (max-width:500px) {
            height: max-content;
        }
       
    }

    &__txt {

        font-size: 26px;
        color: #57585a;

        &--card-title {
            text-align: center;
            width: 100%;
            border-bottom: black solid 1px;
            padding-bottom: 10px;
        }
    }

    &__content {
        color: #57585a;
        font-size: 19px;

        &--card {
            line-height: 40px;
            margin-top: 20px;

            @media (max-width: 1023px) {
                width: 100%;
                margin-top: 20px;
                margin: 0 auto;
            }
            @media (max-width:767px) {
                width: max-content;
                
            }
            @media (max-width:500px) {
                width: 100%;
            }
        }
    }
}